[submodule "web"]
  path = web
  url = https://github.com/canh25xp/gector-web
  branch = main
  update = rebase
[submodule "api"]
  path = api
  url = https://github.com/canh25xp/gector-api
  branch = main
  update = rebase
